/* app css stylesheet */
h1 {
  text-align: center;
}

.solve-button {
  margin: 0 auto;
  display: block;
  background: #0d3349;
  color: #fff;
  font-size: 1.3em;
  padding: 5px 15px;
  border-radius: 10px;
  border: 3px solid #eee;
}
.sudoku-grid {
  margin: 20px auto;
  width: 476px;
}

.sudoku-grid__row {
  clear: both;
  height: 54px;
  border-collapse:collapse;
}

.sudoku-grid__row:first-of-type {
  border-top: 3px solid #000;
}
.sudoku-grid__row:nth-of-type(3n + 0) {
  border-bottom: 2px solid #000;
}

.sudoku-grid__row:last-of-type {
  border-bottom: 3px solid #000;
}

.sudoku-grid__cell {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  float: left;
  font-size: 2em;
  line-height: 1.7em;
  text-align: center;
}

.sudoku-grid__cell:first-of-type {
  border-left: 3px solid #000;
}
.sudoku-grid__cell:nth-of-type(3n + 0) {
  border-right: 3px solid #000;
}